<div th:fragment="add-task-modal"
    class="modal fade"
    id="addModal">

    <div class="modal-dialog">

        <div class="modal-content">

            <form action="/tasks"
                method="post">

                <div class="modal-header">

                    <h5>
                        Add Task
                    </h5>

                </div>


                <div class="modal-body">

                    <input name="title"
                        class="form-control mb-3"
                        placeholder="Task title"
                        required>


                    <div class="mb-3">

                        <label class="form-label">
                            Due Date
                        </label>

                        <input type="date"
                            name="dueDate"
                            id="dueDate"
                            class="form-control"
                            required>

                    </div>


                </div>


                <div class="modal-footer">

                    <button class="btn btn-success">

                        Add Task

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>