<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar">

    <div id="sidebar" class="sidebar d-flex flex-column">

        <!-- TOP -->

        <div>

            <div class="sidebar-header d-flex justify-content-between align-items-center">

                <span class="logo">

                    <i class="bi bi-check2-square"></i>

                    YourTodo

                </span>

                <!-- Toggle button -->

                <button class="btn btn-sm toggle-btn"
                        onclick="toggleSidebar()">

                    <i class="bi bi-list"></i>

                </button>

            </div>



            <!-- MENU -->

            <a href="/dashboard"
               class="sidebar-link active">

                <i class="bi bi-grid"></i>

                <span>

                    Dashboard

                </span>

            </a>



            <a href="/profile"
               class="sidebar-link disabled">

                <i class="bi bi-person"></i>

                <span>

                    Profile

                </span>

            </a>

        </div>



        <!-- BOTTOM -->

        <div class="mt-auto">

            <a href="/logout"
               class="sidebar-link logout">

                <i class="bi bi-box-arrow-right"></i>

                <span>

                    Logout

                </span>

            </a>

        </div>


    </div>

</div>

</body>

</html>