<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <script>
        if(localStorage.getItem("sidebarCollapsed") === "true")
        {
            document.documentElement.classList.add("sidebar-collapsed");
        }
    </script>
    <title>
        Dashboard
    </title>

</head>


<body>


<div class="wrapper">


    <!-- SIDEBAR -->

    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>



    <!-- MAIN -->

    <div class="main container-fluid">



        <!-- TOPBAR -->

        <th:block th:replace="~{fragments/topbar :: topbar}"></th:block>


        <!-- STATS -->

        <th:block th:replace="fragments/stats :: stats"></th:block>

        <!-- SEARCH -->

        <th:block th:replace="fragments/search :: search"></th:block>


            <!-- PENDING TASKS -->

            <th:block th:replace="fragments/pending-tasks :: pending"></th:block>

            <!-- COMPLETED TASKS-->

            <th:block th:replace="fragments/completed-tasks :: completed"></th:block>


    </div>


</div>




<!-- FLOAT BUTTON -->


<button class="btn btn-success floating-btn shadow"

        data-bs-toggle="modal"

        data-bs-target="#addModal">

    +

</button>




<!-- ADD TASK MODAL -->


<th:block th:replace="~{fragments/add-task-modal :: add-task-modal}"></th:block>


<!-- EDIT TASK MODAL -->


<div th:replace="fragments/edit-task-modal :: edit-task-modal"></div>




<!-- JS -->


<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>



</body>

</html>